.winamax {
  font-family: "Source Sans Pro", sans-serif;
  color: #1f1f1f;
}

.content {
  padding: 10px 300px;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  word-spacing: 1px;
}

h2 {
  font-weight: bold;
  word-spacing: 1px;
  color: rgb(165, 42, 42);
  font-size: 1.5rem;
  line-height: 30px;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;600;800&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  color: #444452;
}

h1,
h2 {
  font-weight: 200;
}

b {
  font-weight: 800;
}

p {
  margin-top: 0;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
}

li {
  list-style-type: "→ ";
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  position: relative;
}

/* ----- intro ----- */

.intro {
  padding: 120px 100px;
  font-size: 2em;
  font-weight: 200;
}

.hand {
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.hand:hover {
  animation: wave 2s linear infinite;
}

/* ----- links ----- */

.links {
  padding: 0 0 100px 100px;
  display: flex;
  justify-content: flex-start;
  font-size: 1.3em;
  font-weight: 600;
}

.link {
  margin-right: 30px;
}

.blue {
  color: #4b7ff2;
}

.line:after {
  content: "";
  position: absolute;
  background-color: #4b7ff2;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}
.line:hover:after {
  width: 100%;
  transition: 0.3s;
}

/* ----- about ----- */

.about {
  display: flex;
  padding: 50px 100px 50px 100px;
}

.title {
  font-weight: 600;
  padding: 0 70px 0 0;
  flex: none;
  width: 270px;
  font-size: 1.3em;
  color: #4b7ff2;
  text-align: right;
}

.content {
  padding: 0;
  font-size: 1em;
}

/* ----- disclaimer ----- */

.disclaimer {
  padding: 0 0 120px 100px;
  font-weight: 600;
}

/* ----- responsiveness ----- */

@media (max-width: 900px) {
  body {
    width: 100vw;
    margin: 0;
  }

  .hand {
    margin-left: 5px;
    height: 25px;
    width: 25px;
  }

  .intro {
    padding: 20px 20px;
    font-size: 1em;
  }

  .links {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 0.8em;
  }

  .link {
    padding: 10px 0;
  }

  .about {
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    flex-direction: column;
  }

  .title {
    padding: 0 0 20px 0;
    text-align: left;
  }

  .disclaimer {
    padding: 20px;
    font-weight: 600;
  }
}

/* ----- animation ----- */

@keyframes wave {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: none;
  }
}
